In [5]:
# =====================================
# üß† Challenge Alura Store - An√°lisis de Tiendas
# =====================================

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import janitor

raw_path = Path("../data/raw")

# Carga
tienda1 = pd.read_csv(raw_path / "tienda_1.csv")
tienda2 = pd.read_csv(raw_path / "tienda_2.csv")
tienda3 = pd.read_csv(raw_path / "tienda_3.csv")
tienda4 = pd.read_csv(raw_path / "tienda_4.csv")

In [6]:
tienda1.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

In [7]:
# Limpia nombres de columnas autom√°ticamente
tienda1 = tienda1.clean_names()
tienda2 = tienda2.clean_names()
tienda3 = tienda3.clean_names()
tienda4 = tienda4.clean_names()

In [12]:
tienda1.head()

,producto,categoria_del_producto,precio,costo_de_envio,fecha_de_compra,vendedor,lugar_de_compra,calificacion,metodo_de_pago,cantidad_de_cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

In [ ]:
# Crear un DataFrame con los nombres de las columnas de cada tienda
tabla_columnas = pd.DataFrame({
    "Tienda 1": pd.Series(tienda1.columns),
    "Tienda 2": pd.Series(tienda2.columns),
    "Tienda 3": pd.Series(tienda3.columns),
    "Tienda 4": pd.Series(tienda4.columns)
})

# Mostrar la tabla
tabla_columnas

,Tienda 1,Tienda 2,Tienda 3,Tienda 4
0,producto,producto,producto,producto
1,categoria_del_producto,categoria_del_producto,categoria_del_producto,categoria_del_producto
2,precio,precio,precio,precio
3,costo_de_envio,costo_de_envio,costo_de_envio,costo_de_envio
4,fecha_de_compra,fecha_de_compra,fecha_de_compra,fecha_de_compra
5,vendedor,vendedor,vendedor,vendedor
6,lugar_de_compra,lugar_de_compra,lugar_de_compra,lugar_de_compra
7,calificacion,calificacion,calificacion,calificacion
8,metodo_de_pago,metodo_de_pago,metodo_de_pago,metodo_de_pago
9,cantidad_de_cuotas,cantidad_de_cuotas,cantidad_de_cuotas,cantidad_de_cuotas
10,lat,lat,lat,lat
11,lon,lon,lon,lon